#LinksToOtherPages{
    display: flex; 
    justify-content: space-between;
    position: absolute;
    left: 200px;
    top: 5px;
    background-color: black;
    font-size: medium;
    width: 87%;
}

#LinksToOtherPages a{
    font-size: 20px;
    color: white;
    padding: 25px;
}

#LinksToOtherPages a:hover{
    font-size: 30px;
}

picture button {
    border: none;
    background-color: white;
    margin-left: 0px;
}

#main{
    position: absolute;
    top: 85px;
    left: 200px;
    margin-bottom: 2px;
    background-color: lightgreen;
    width: 87%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: large;
}

#branches-nav{
    display: flex; 
    background-color:black ;
    font-size: medium;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#branches-nav a{

    font-size: 20px;
    color: white;
    padding: 25px;
}

#branches-nav a:hover{
    font-size: 30px;
}

h1{
    margin-left: 20px;
}

.branches, .services {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 20px;
}

.branches{
    display: grid;
    grid-template-columns: auto auto auto;
}

.branch{
    font-size: large;
    margin-left: 20px;
    background: white;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    border-style: inset;
}

.branch img{
    margin-top: 5px;
    height: 500px;
    width: 800px;
    border-radius: 10px;
}

.google-map {
    margin: 15px 0;
}

.google-map iframe{
    height: 500px;
    width: 800px;
    border: none;
    border-radius: 10px;
}

#services h2{
    margin-left: 20px;
}

table {
    margin-left: 20px;
    width: 90%;
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: whitesmoke;
    font-weight: bold;
}

tfoot td {
    font-weight: bold;
    background-color: #f2f2f2;
}

tfoot td[colspan="3"] {
    text-align: center;
}

a {
    text-decoration: none;
}

footer {
    margin-top: 15px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
    justify-content: center;
}

footer .social-links {
    display: flex;
}

footer .social-links a {
    margin-right: 10px;
    display: inline-block;
}

footer .social-links a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

footer .social-links a:hover img {
    transform: scale(1.1);
}

a {
    text-decoration: none;
}

.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
}

@media (max-width: 600px) {
    .image img {
        height: 100px;
        width: 100px;
    }

    #LinksToOtherPages {
        position: sticky;
        flex-direction: column;
        align-items: center;
        font-size: 8px;
        width: 100%;
        justify-content: center;
    }

    #LinksToOtherPages a {
        width: 100%;
        text-align: center;
    }

    #main{
        position: absolute;
        left: 110px;
        top: 0px;
        font-size: 14px;
        height: 100px;
        width: 75%;
    }

    .branch img{
        height: 450px;
        width: 450px;
    }

    .google-map{
        height: 450px;
        width: 450px;
    }
}
