#LinksToOtherPages{
    display: flex; 
    justify-content: space-between;
    position: absolute;
    left: 200px;
    top: 5px;
    background-color: black;
    font-size: medium;
    width: 87%;
}

#LinksToOtherPages a{
    font-size: 20px;
    color: white;
    padding: 25px;
}

#LinksToOtherPages a:hover{
    font-size: 30px;
}

picture button {
    border: none;
    background-color: white;
    margin-left: 0px;
}

#main{
    position: absolute;
    top: 85px;
    left: 200px;
    margin-bottom: 2px;
    background-color: lightgreen;
    width: 87%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: large;
}

a {
    text-decoration: none;
}

fieldset{
    align-content: center ;
    margin-left: 15%;
    margin-right: 15%;
}

fieldset h2{
    margin-left: 15%;
    margin-right: 15%;    
}

h1{
    margin-left: 22px;
}

#textbox_01 {
    width: 500px;
}

#textbox_02 {
    width: 500px;
}

#textbox_04 {
    width: 500px;
}

#textbox_05 {
    width: 500px;
}

#textbox_07 {
    width: 500px;
}

#Bronze{
    border-radius: 2px;
    border-color: black;
    border-style: inset;
    padding-bottom: 20px;
    margin-right: 75px;
    margin-left: 75px;
}

#Bronze img{
    height: 45px;
    max-width: 45px;
    float: right;
    margin-right: 250px;
    margin-top: 35px;
}

#Bronze img:hover{
    transform:scale(2,2) ;
}

#Silver{
    border-radius: 2px;
    border-color: black;
    border-style: inset;
    padding-bottom: 20px;
    margin-right: 75px;
    margin-left: 75px;
}

#Silver img{
    height: 45px;
    max-width: 45px;
    float: right;
    margin-right: 200px;
    margin-top: 35px;
}

#Silver img:hover{
    transform:scale(2,2) ;  
}

#Gold{
    border-radius: 2px;
    border-color: black;
    border-style: inset;
    padding-bottom: 20px;
    margin-right: 75px;
    margin-left: 75px;
}

#Gold img{
    height: 45px;
    max-width: 45px;
    float: right;
    margin-right: 250px;
    margin-top: 35px;
}

#Gold img:hover{
    transform:scale(2,2) ;  
}

.form-button {
    display: block;
    width: 100%;
    background-color: rgb(255, 234, 209);
    color: black;
    margin: 10px 0;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.form-button:hover{
    background-color: #45a049;
    color: white;
}

footer {
    margin-top: 15px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
    justify-content: center;
}

footer .social-links {
    display: flex;
}

footer .social-links a {
    margin-right: 10px;
    display: inline-block;
}

footer .social-links a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

footer .social-links a:hover img {
    transform: scale(1.1);
}

.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
}

@media (max-width: 600px) {
    .image img {
        height: 100px;
        width: 100px;
    }

    #LinksToOtherPages {
        position: sticky;
        flex-direction: column;
        align-items: center;
        font-size: 8px;
        width: 100%;
        justify-content: center;
    }

    #LinksToOtherPages a {
        width: 100%;
        text-align: center;
    }

    #main{
        position: absolute;
        left: 110px;
        top: 0px;
        font-size: 14px;
        height: 100px;
        width: 75%;
    }

    .form {
        margin-left: 0%;
        justify-content:left ;
    }

    fieldset{
        margin-left: 0%;
    }

    fieldset label {
        margin-left: 0%;
    }

    #textbox_01 {
        width: 400px;
    }
    
    #textbox_02 {
        width: 400px;
    }
    
    #textbox_04 {
        width: 400px;
    }
    
    #textbox_05 {
        width: 400px;
    }
    
    #textbox_07 {
        width: 400px;
    }

    .fieldset3{
        width: 95%;
        justify-content: left;
    }

    #Bronze {
        margin-left: 0%;
        max-width: 100%;
    }

    #Bronze img {
        display: none;
    }

    #Silver {
        margin-left: 0%;
        max-width: 100%;
    }

    #Silver img {
        display: none;
    }

    #Gold {
        margin-left: 0%;
        max-width: 100%;
    }

    #Gold img {
        display: none;
    }
}